body
{
    background-color: azure;
    box-sizing: border-box;
}
.container
{
    display: flex;
    flex-direction: column;
}
ul{
    position: relative;
    margin: auto;
    list-style-type: none;
    padding: 2rem;

}
.project{
    padding: 2em;
    border: 1px black solid;
    border-radius: 10%;

}